# Configuration file

blacklist {
    # Blacklist the GregTech Assembly Line. [default: false]
    B:blacklistAssemblyLine=false

    # Blacklist the Eye of Harmony. [default: false]
    B:blacklistEyeOfHarmony=false

    # Blacklist the vanilla furnaces. [default: false]
    B:blacklistFurnace=false

    # Blacklist the Railcraft furnaces (Coke Oven and Blast Furnace). [default: false]
    B:blacklistRailcraft=false

    # Blacklist the Research Station. [default: false]
    B:blacklistResearchStation=false

    # Blacklist the Water Purification Plant. [default: false]
    B:blacklistWaterPurification=false

    # Blacklist the Wildcard Duration Modification. [default: false]
    B:blacklistWildcardDurationModification=false

    # The unlocalized names of blacklisted GregTech recipe maps. (e.g.: gt.recipe.packager) [default: [gg.recipe.naquadah_reactor]]
    S:gtBlacklistedRecipeMaps <
        gg.recipe.naquadah_reactor
     >

    # Consider blacklists as whitelists [default: false]
    B:whitelistMode=false
}


durationmod {
    # Ticks of the recipe durations. [range: 1 ~ 2147483647, default: 1]
    I:fixedDuration=1

    # Mode of Duration Modification
    # 
    # 0 = None : Not modifying.
    # 1 = Fixed : Durations of recipes are fixed to 'fixedDuration' ticks.
    # 2 = Rational : Durations of recipes are multiplied by 'rationalDuration'. (e.g.: rationalDuration is 0.4, the durations are reduced by 60%.) [range: 0 ~ 2, default: 0]
    I:mode=1

    # Multiplier of the recipe durations. [range: 1.0E-4 ~ 3.4028235E38, default: 0.5]
    S:rationalDuration=0.5
}


eoh-spec {
    # EU Cost for Starting EOH. [range: 1 ~ 2147483647, default: 1]
    I:fixedStartEuCost=1

    # Multiplier of EU Cost for Starting EOH. [range: 0.001 ~ 3.4028235E38, default: 0.2]
    S:rationalStartEuCost=0.2

    # Mode of EU Cost Modification
    # 
    # 0 = None
    # 1 = Fixed
    # 2 = Rational [range: 0 ~ 2, default: 0]
    I:startEuCostMode=0
}


gregtech-spec {
    # Make all GregTech recipes to LV-level EU/T requirement [default: false]
    B:allLVRecipes=false

    # Don't update the Research Time of Research Station. [default: false]
    B:notUpdateResearchTime=false
}


research-station-spec {
    # Mode of Research Station Amp Modification
    # 
    # 0 = None
    # 1 = Fixed
    # 2 = Rational [range: 0 ~ 2, default: 0]
    I:ampMode=0

    # The fixed Amp of Research Station recipes. [range: 1 ~ 2147483647, default: 1]
    I:fixedAmp=1

    # The fixed Min Computation of Research Station recipes. [range: 1 ~ 2147483647, default: 1]
    I:fixedMinComputation=1

    # Mode of Research Station Min Computation Modification
    # 
    # 0 = None
    # 1 = Fixed
    # 2 = Rational [range: 0 ~ 2, default: 0]
    I:minComputationMode=0

    # Multiplier of Amp of Research Station recipes. [range: 0.001 ~ 3.4028235E38, default: 0.2]
    S:rationalAmp=0.2

    # Multiplier of Min Computation of Research Station recipes. [range: 0.001 ~ 3.4028235E38, default: 0.2]
    S:rationalMinComputation=0.2
}


run-machine-acceleration-spec {
    S:target-classes <
     >
}


water-purification-spec {
    # The additional success chance of water purification. [range: 0.0 ~ 100.0, default: 100.0]
    S:additionalSuccessChance=100.0

    # The fixed success chance of water purification. [range: 0.0 ~ 100.0, default: 100.0]
    S:fixedSuccessChance=100.0

    # Mode of Water Purification Success Chance Modification
    # 
    # NOTE: the value is valid in range from 0F to 100F.
    # 
    # 0 = None
    # 1 = Fixed
    # 2 = Additional [range: 0 ~ 2, default: 0]
    I:successChance=0
}


